# =========================
# 🔐 Google Drive (IMPORTANT)
# =========================
token.json
credentials.json
dataset_tools/token *.json
dataset_tools/drive_add_log.csv
dataset_tools/drive_add_log_v2.csv

# =========================
# 🖼️ Dataset (lourd)
# =========================
datasets/raw/
datasets/processed/
datasets/splits/
datasets/transformed/

# =========================
# 🐍 Python
# =========================
.venv/
venv/
env/
__pycache__/
*.py[cod]

# =========================
# 🧪 Tests / cache
# =========================
.pytest_cache/
.coverage

# =========================
# 💻 OS / IDE
# =========================
.DS_Store
Thumbs.db
.idea/
.vscode/